* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Garamond, "Gill Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #ECF0F1;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 200px;
    margin-right: 200px;
}

header p {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    background-color: #6F1A07;
    color: #ECF0F1;
    margin: 0;
    padding: 10px;
}

.images {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sinigang,
.mechado,
.kare-kare {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: auto;
}

h1 {
    color: #A8763E;
    margin-left: 180px;
    font-size: 50px;
}

.description {
    margin-bottom: 60px;
    margin-left: 180px;
    margin-right: 180px;
    padding: 10px;
}

h2 {
    color: #2B2118;
    margin-left: 180px;
}

.purpose,
.recipes {
    margin-bottom: 60px;
    margin-left: 180px;
    margin-right: 180px;
    padding: 10px;
}

#sinigang,
#mechado,
#kare-kare {
    font-size: 20px;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 30px;
    background-color: #6F1A07;
    color: #ECF0F1;
}

.creator {
    font-size: 16px;
    color: #ECF0F1;
}